doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom 
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body  
        header 
            h1 Zoom
        main 
            div#welcome
                form
                    input(type="text", placeholder="Room name", required)
                    button Enter Room 
                h4 Rooms
                ul
            div#room
                h3 Room Name
                form#name
                    input(type="text", placeholder="Nickname", required)
                    button Save 
                ul 
                form#msg
                    input(type="text", placeholder="Message", required)
                    button Send
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")